<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>InternetBanking</display-name>
  <welcome-file-list>
    <welcome-file>LandingPage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BnakingBean</display-name>
    <servlet-name>BnakingBean</servlet-name>
    <servlet-class>com.wipro.banking.bean.BnakingBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BnakingBean</servlet-name>
    <url-pattern>/BnakingBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.wipro.banking.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerController</display-name>
    <servlet-name>ManagerController</servlet-name>
    <servlet-class>com.wipro.banking.controller.ManagerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerController</servlet-name>
    <url-pattern>/ManagerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankingDAO</display-name>
    <servlet-name>BankingDAO</servlet-name>
    <servlet-class>com.wipro.banking.dao.BankingDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankingDAO</servlet-name>
    <url-pattern>/BankingDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankingService</display-name>
    <servlet-name>BankingService</servlet-name>
    <servlet-class>com.wipro.banking.service.BankingService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankingService</servlet-name>
    <url-pattern>/BankingService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankingUtil</display-name>
    <servlet-name>BankingUtil</servlet-name>
    <servlet-class>com.wipro.banking.util.BankingUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankingUtil</servlet-name>
    <url-pattern>/BankingUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankingBean</display-name>
    <servlet-name>BankingBean</servlet-name>
    <servlet-class>com.wipro.banking.bean.BankingBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankingBean</servlet-name>
    <url-pattern>/BankingBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminBean</display-name>
    <servlet-name>AdminBean</servlet-name>
    <servlet-class>com.wipro.banking.bean.AdminBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBean</servlet-name>
    <url-pattern>/AdminBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDAO</display-name>
    <servlet-name>AdminDAO</servlet-name>
    <servlet-class>com.wipro.banking.dao.AdminDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDAO</servlet-name>
    <url-pattern>/AdminDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetails</display-name>
    <servlet-name>UserDetails</servlet-name>
    <servlet-class>com.wipro.banking.bean.UserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetails</servlet-name>
    <url-pattern>/UserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.wipro.banking.logout.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestsBean</display-name>
    <servlet-name>RequestsBean</servlet-name>
    <servlet-class>com.wipro.banking.bean.RequestsBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestsBean</servlet-name>
    <url-pattern>/RequestsBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchBean</display-name>
    <servlet-name>BranchBean</servlet-name>
    <servlet-class>com.wipro.banking.bean.BranchBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchBean</servlet-name>
    <url-pattern>/BranchBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerController</display-name>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>com.wipro.banking.controller.CustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>statementBean</display-name>
    <servlet-name>statementBean</servlet-name>
    <servlet-class>com.wipro.banking.bean.statementBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>statementBean</servlet-name>
    <url-pattern>/statementBean</url-pattern>
  </servlet-mapping>
  <!-- <session-config>
        <session-timeout>1</session-timeout>
    </session-config> -->
</web-app>